</form>
</body>
</html>

<!doctype html>
<html>
<head>
<title>Opret spiller</title>
</head>
<body>
<h1>Opret spiller</h1>
<form method="post">
<input type="checkbox" name="CreateType" value="Goalkeeper"> Goalkeeper <br>
<input type="checkbox" name="CreateType" value="Defender"> Defender <br>
<input type="checkbox" name="CreateType" value="Midfielder"> Midfielder <br>
<input type="checkbox" name="CreateType" value="Attacker"> Attacker <br>
<input type="submit" value="Opret">

</form>
</body>
</html>

