<!doctype html>
<html>
<head>
<title>Opret spiller</title>
</head>
<body>
<h1>Opret Midtbane</h1>
<form method="post" action="/createmidfielder">
<input type="text" name="name" id="name" placeholder="Navn">
<input type="number" name="age" id="age" placeholder="Alder">
<input type="text" name="team" id="team" placeholder="Hold">
<input type="number" name="passes" id="passes" placeholder="Afleveringer">
<input type="submit" value="Opret">
</form>
</body>
</html>


<form method="post" action="/createmidfielder">
    <input type="submit" value="Opret">
</form>