<html>
<head>
<link rel="stylesheet" href='/static/style.css' />
</head>
<body>
<h1>Slet spiller</h1>
<br>
<form method="post" action="/delete">
  <label for="delete">Vælg spiller:</label>
  <select id="delete" name="deleteplayer" size="1">
    {% for goalkeeper in goalkeepers %}
    <option name="deleteplayer" value="g{{ goalkeeper.id }}">Målmand - {{ goalkeeper.name }}</option>
    {% endfor %}
    {% for defender in defenders %}
    <option name="deleteplayer" value="d{{ defender.id }}">Forsvar - {{ defender.name }}</option>
    {% endfor %}
    {% for midfielder in midfielders %}
    <option name="deleteplayer" value="m{{ midfielder.id }}">Midtbane - {{ midfielder.name }}</option>
    {% endfor %}
    {% for attacker in attackers%}
    <option name="deleteplayer" value="a{{ attacker.id }}">Angriber - {{ attacker.name }}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Slet">
</form>


</body>
</html>
